.header {
  background-color: #fff;
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e9ecef;
}

.title {
  font-size: 1rem;
  margin: 0;
  margin-right: auto;
}

.button {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  line-height: normal;
}
