.item {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #212529;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.children {
  padding-left: 2rem;
}
