.tag {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
  height: 1rem;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  font-size: 75%;
}

.clickable {
  cursor: pointer;
}

.disabled {
  color: #888;
}
