.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  border: solid 1px #ced4da;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.25rem;
  cursor: pointer;
}

.newMemoButton {
  margin-top: 0.5rem;
}

.signOutButton {
}

.columns {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.columnList {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1.5rem 1.5rem;
  transition-duration: 0.5s;
  /* background-color: #f8f9fa; */
  /* border-right: 1px solid #e9ecef; */
  z-index: 1;
}

@media (min-width: 1024px) {
  .columnList {
    position: relative;
    width: 15rem;
  }
}

.hideList {
  width: 0;
  padding: 0;
}

.toggleListButton {
  font-size: 0.5rem;
  background-color: #212529;
  color: white;
  padding: 0.25rem;
  border: none;
  outline: none;
  height: 2rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

@media (min-width: 1024px) {
  .toggleListButton {
    display: none;
  }
}

.hideButton {
  right: 100%;
  transform: translateY(-50%) translateX(100%) rotate(180deg);
  display: flex;
}

.columnView {
  flex: 1;
  width: 100%;
  max-width: 50rem;
  margin: auto;
  height: 100%;
  overflow: scroll;
  padding: 2rem 2rem;
}

@media (min-width: 1024px) {
  .columnView {
    padding: 6rem 6rem;
  }
}
