.container {
  max-width: 50rem;
  padding: 2rem;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title{
  margin: 0;
}
