@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Hard-coded size unlimit */
.prose {
  max-width: none;
}

.prose ul {
  margin: 0;
}

.prose li > p {
  margin: 0rem;
}
